.steps-content
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
  background-color: white;
  min-height: 300px;
  text-align: center;
  padding-top: 80px


.steps-action
  margin-top: 24px

.setup-content
  height 500px
  background white
  text-align center

Button
  margin-right 10px
  margin-left 10px